body {
    background-image: url('./dog3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  form{
  border:2px solid white;
  border-radius: 40px;
  padding: 70px;
  width:400px;
  margin-left: 400px;
  margin-right: 400px;
  background-color:rgb(143, 136, 136);
  opacity:0.5;
  }
  
  lable{
    text-align:left;
    width: 80%;
    margin-top: 10px;
    color:rgb(31, 3, 71);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    
}


h3{
  color:white;
  
}
m1{
   position: relative;
   
}